<form action="">
  <h2 class="text-primary mb-3">{{titles}}</h2>

  <div class="form-outline mb-4" *ngFor="let loginInfo of uiSections.loginDetails">
    <label class="form-label" [for]="loginInfo.ids">{{loginInfo.labels}}</label>
    <input [type]="loginInfo.types" [id]="loginInfo.ids" class="form-control" [name]="loginInfo.name" [autocomplete]="loginInfo.autocomplete" />
  </div>

  <div>
    <button *ngFor="let actionButtons of uiSections.buttonOptions" [type]="actionButtons.types" [class]="actionButtons.classes" (click)="router.navigate(['./dashboard'])">{{actionButtons.btnName}}</button> 
  </div>
  
</form>