<div class="container w-50 card p-4 bg-light rounded shadow">
    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
        <a *ngFor="let tabs of tabbedNav" [class]="tabs.class" [id]="tabs.id" data-bs-toggle="tab" [href]="tabs.link" role="tab" aria-controls="nav-tabs" aria-selected="true">{{tabs.tabName}}</a>
    </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
                <app-login></app-login>
            </div>
            
            <div class="tab-pane fade" id="nav-registration" role="tabpanel" aria-labelledby="nav-registration-tab">
                <app-registration></app-registration>
            </div>
        </div>
    
    
    
    
    
</div>