<div class="container card border-0">
    <nav class="nav nav-pills" id="pills-tab" role="tablist">
        <a class="nav-link active" id="pills-one-tab" data-bs-toggle="pill" href="#pills-one" role="tab"
            aria-controls="pills-one" aria-selected="true" (click)="getPersonalInfo()">Personal Info</a>

        <a class="nav-link" id="pills-two-tab" data-bs-toggle="pill" href="#pills-two" role="tab"
        aria-controls="pills-profile" aria-selected="false" (click)="getEducationInfo()">Educational Info</a>
    </nav>
    
    <app-rederingEngine></app-rederingEngine>

    <div class="buttonSection mt-3">
        <input type="submit" class="btn btn-primary me-2" value="Submit" />
        <input type="reset" class="btn btn-secondary" click="clearInput()" value="Reset" />
    </div>
</div>